body {
  background-color: #171717 !important;
  color: white !important;
}


.icon-hover:hover {
  border-color: goldenrod !important;
  background-color: #171717 !important;
}

.icon-hover:hover i {
  color: gold !important;
}

.bg-theme-highlight {
  background-color: goldenrod !important;
}

.bg-theme-info {
  background-color: rebeccapurple !important;
}

.hidden-section
{
  display: none;
}