<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div th:if="${not #lists.isEmpty(cars)}">
    <h2>Cars List</h2>
    <table class="table table-striped">
        <tr>
            <th>Manufacturer</th>
            <th>Type</th>
            <th>Engine Type</th>
            <th>Color</th>
            <th>Manufacturing Year</th>
            <th>Mileage</th>
            <th>Price</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.manufacturer}"></td>
            <td th:text="${car.type}"></td>
            <td th:text="${car.engineType}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.manufacturingYear}"></td>
            <td th:text="${car.mileage}"></td>
            <td th:text="${car.price}"></td>
        </tr>
    </table>
</div>

<div th:if="${car !=null}">
    <h2>Car</h2>
    <!-- Car -->
    <table class="table table-striped">
        <tr>
            <th>Manufacturer</th>
            <th>Type</th>
            <th>Engine Type</th>
            <th>Color</th>
            <th>Manufacturing Year</th>
            <th>Mileage</th>
            <th>Price</th>
        </tr>
        <tr>
            <td th:text="${car.manufacturer}"></td>
            <td th:text="${car.type}"></td>
            <td th:text="${car.engineType}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.manufacturingYear}"></td>
            <td th:text="${car.mileage}"></td>
            <td th:text="${car.price}"></td>
        </tr>
    </table>
</div>

</body>
</html>