<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Shopping Cart</title>

    <!-- CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="/static/css/mdb.min.css" rel="stylesheet" th:href="@{/css/mdb.min.css}"/>
    <link href="/static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>

    <!-- JS -->
    <script src="/static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script src="/static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="/static/js/script.js" th:src="@{/js/script.js}"></script>

    <!-- Favicon -->
    <link href="/static/img/icon.png" rel="icon" th:href="@{/img/icon.png}">

</head>
<body>
<div class="container my-4">
    <h2>Shopping Cart</h2>

    <!-- success message -->
    <div th:if="${orderSuccess}" class="alert alert-success" role="alert">
        <span th:text="${orderSuccess}"></span>
    </div>

    <!-- error message -->
    <div th:if="${orderError}" class="alert alert-danger" role="alert">
        <span th:text="${orderError}"></span>
    </div>

    <div th:if="${not #lists.isEmpty(cart)}">
        <table class="table">
            <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item, stat : ${cart}">
                <td th:text="${item.eyewear.name}">Product Name</td>
                <td th:text="${item.eyewear.price}">Product Price</td>
                <td>
                    <label>
                        <input type="number" th:value="${item.quantity}" min="1" th:max="${item.eyewear.stockQuantity}" th:id="'qty-' + ${stat.index}"
                               class="form-control quantity-input"/>
                    </label>
                </td>
                <td th:text="${item.quantity * item.eyewear.price}" th:id="'total-' + ${stat.index}">Total Price <span>USD</span></td>
                <td>
                    <button th:onclick="'updateQuantity(' + ${stat.index} + ', ' + ${item.eyewear.eyewearId} + ')' "
                            class="btn btn-info">Update
                    </button>
                </td>
                <td>
                    <button th:onclick="'removeItem(' + ${stat.index} + ')'" class="btn btn-danger">Remove</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-end">
            <h3>Total: <span th:text="${total}">Total</span> <span>USD</span></h3>
            <div sec:authorize="isAuthenticated()">
                <form action="/cart/completePurchase.html" method="post">
                    <div class="payment-method">
                        <input type="radio" id="cashOnDelivery" name="paymentMethod" value="CASH_ON_DELIVERY" checked>
                        <label for="cashOnDelivery">Cash on Delivery</label><br>
                        <input type="radio" id="paypal" name="paymentMethod" value="PAYPAL">
                        <label for="paypal">PayPal</label><br>
                    </div>
                    <input type="submit" value="Checkout" class="btn btn-primary">
                </form>
            </div>
            <div sec:authorize="!isAuthenticated()" class="row">
                <div class="col-auto">
                    <p>You need to sign in to proceed with the purchase.</p>
                </div>
                <div class="col-auto">
                    <a href="#"
                       class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center btn-primary"
                       data-bs-toggle="modal"
                       data-bs-target="#authModal">
                        <img th:src="@{/img/user-alt-solid.svg}" src="/static/img/user-alt-solid.svg"
                             class="m-1 me-md-2" alt="" height="32">
                        <p class="d-none d-md-block mb-0">Sign in</p>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div th:if="${#lists.isEmpty(cart)}">
        <p>Your cart is empty!</p>
    </div>
</div>
<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

<!-- auth modal -->
<div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="authModalLabel">Login / Register</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="authTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login"
                                type="button" role="tab" aria-controls="login" aria-selected="true">Login
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register"
                                type="button" role="tab" aria-controls="register" aria-selected="false">Register
                        </button>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                        <!-- Login Form -->
                        <form action="#" th:action="@{/perform_login}" method="post" class="p-3">
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                        <form th:action="@{/register}" method="post" class="p-3">
                            <div class="mb-3">
                                <label for="registerUsername" class="form-label">Username</label>
                                <input type="text" class="form-control" id="registerUsername" name="username"
                                       required>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="registerPassword" class="form-label">Password</label>
                                <input type="password" class="form-control" id="registerPassword" name="password"
                                       required>
                            </div>
                            <div class="mb-3">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="address" name="address">
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



</body>
</html>
