<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Optics Web Shop</title>

    <!-- CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="/static/css/mdb.min.css" rel="stylesheet" th:href="@{/css/mdb.min.css}"/>
    <link href="/static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>

    <!-- JS -->
    <script src="/static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script src="/static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="/static/js/script.js" th:src="@{/js/script.js}"></script>

    <!-- Favicon -->
    <link href="/static/img/icon.png" rel="icon" th:href="@{/img/icon.png}">

</head>
<body>
<!--Main Navigation-->
<header>
    <!-- Jumbotron -->
    <div class="p-3 text-center border-bottom text-white">
        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-2 col-sm-4 col-4">
                    <a href="#home" onclick="showSection('home')" class="btn float-start">
                        <img src="/static/img/icon.png" th:src="@{/img/icon.png}" height="64" alt="Optics"/>
                    </a>
                </div>
                <div class="order-lg-last col-lg-5 col-sm-8 col-8">
                    <div class="d-flex float-end">
                        <div sec:authorize="!isAuthenticated()">
                            <a href="#"
                               class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center btn-primary"
                               data-bs-toggle="modal"
                               data-bs-target="#authModal">
                                <img th:src="@{/img/user-alt-solid.svg}" src="/static/img/user-alt-solid.svg"
                                     class="m-1 me-md-2" alt="" height="32">
                                <p class="d-none d-md-block mb-0">Sign in</p>
                            </a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <a href="#"
                               class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center btn-primary"
                               data-bs-toggle="modal"
                               data-bs-target="#authModal">
                                <img th:src="@{/img/user-alt-solid.svg}" src="/static/img/user-alt-solid.svg"
                                     class="m-1 me-md-2" alt="" height="32">
                                <p class="d-none d-md-block mb-0">Log out</p>
                            </a>
                        </div>
                        <div sec:authorize="!isAuthenticated()">
                            <a href="#"
                               class="border rounded py-1 px-3 nav-link d-flex align-items-center btn-primary">
                                <img th:src="@{/img/shopping-cart-solid.svg}" src="/static/img/shopping-cart-solid.svg"
                                     class="m-1 me-md-2" alt="" height="32">
                                <p class="d-none d-md-block mb-0">My cart</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="input-group float-center">
                        <div class="form-outline bg-gradient">
                            <input type="search" id="form1" class="form-control"/>
                            <label class="form-label" for="form1">Search</label>
                        </div>
                        <button type="button" class="btn btn-primary shadow-0">
                            <img src="/static/img/search-solid.svg" th:src="@{/img/search-solid.svg}"
                                 class="m-1 me-md-2" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="authModalLabel">Login / Register</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="authTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login"
                                    type="button" role="tab" aria-controls="login" aria-selected="true">Login
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register"
                                    type="button" role="tab" aria-controls="register" aria-selected="false">Register
                            </button>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <!-- Login Form -->
                            <form action="#" th:action="@{/login}" method="post" class="p-3">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                            <!-- Register Form -->
                            <form action="#" th:action="@{/register}" method="post" class="p-3">
                                <!-- Registration fields (e.g., username, email, password, etc.) -->
                                <button type="submit" class="btn btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container justify-content-center justify-content-md-between">
                <!-- Toggle button -->
                <a
                        class="btn btn-primary navbar-toggler border py-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarLeftAlignExample"
                        aria-controls="navbarLeftAlignExample"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <img src="/static/img/bars-solid.svg" th:src="@{/img/bars-solid.svg}" height="32" alt="&#9776;">
                </a>

                <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link text-white" aria-current="page" href="#home"
                               onclick="showSection('home')">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link text-white" href="#categories"
                               onclick="showSection('categories')">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link text-white" href="#profile"
                               onclick="showSection('profile')">My Orders</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

</header>


<!-- category -->
<section id="categories" class="hidden-section">
    <div class="container pt-5">
        <nav class="row gy-4">
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-3">
                        <a href="#prodGlasses" onclick="showSection('prodGlasses')"
                           class="btn btn-outline-primary text-center d-flex flex-column justify-content-center mx-auto p-3 mb-2 ">
                            <img src="/static/img/glasses.svg" th:src="@{/img/glasses.svg}" height="64" alt="">
                            <p class="pt-2">Glasses</p>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#prodSunglasses" onclick="showSection('prodSunglasses')"
                           class="btn btn-outline-primary text-center d-flex flex-column justify-content-center mx-auto p-3 mb-2 ">
                            <img src="/static/img/glasses-solid.svg" th:src="@{/img/glasses-solid.svg}" height="64"
                                 alt="">
                            <p class="pt-2 ">Sunglasses</p>
                        </a>
                    </div>
                    <div class="col-3">
                        <a href="#prodAccessories" onclick="showSection('prodAccessories')"
                           class="btn btn-outline-primary text-center d-flex flex-column justify-content-center mx-auto p-3 mb-2 ">
                            <img src="/static/img/hat-wizard-solid.svg" th:src="@{/img/hat-wizard-solid.svg}"
                                 height="64" alt="">
                            <p class="pt-2">Accessories</p>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>


<!-- HOME SECTION -->
<section id="home" class="pt-3">
    <div class="container">
        <div class="row gx-3">
            <main class="col-lg-9">
                <div class="card-banner p-5 bg-transparent rounded-5" style="height: 200px;">
                    <div style="max-width: 500px;">
                        <h2 class="text-white">
                            Sunglasses for every day
                        </h2>
                        <p class="text-white">
                            The best glasses for your eyes. We have a wide range of sunglasses and optics for every day.
                        </p>
                    </div>
                </div>
            </main>
            <aside class="col-lg-3">
                <div class="card-banner h-100 rounded-5 bg-primary">
                    <div class="card-body text-center pb-5">
                        <h5 class="pt-5 text-white">Best Deals</h5>
                        <p class="text-white mb-0">Special offer for new customers!</p>
                        <a href="#" class="btn btn-outline-light mt-2"> View more </a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

<!-- Products SECTION -->
<section id="prodGlasses" class="hidden-section"> <!-- class="hidden-section" -->
    <div class="container my-5">
        <header class="mb-4">
            <h3>Glasses</h3>
        </header>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <div class="mask" style="height: 50px;">
                            <div class="d-flex justify-content-start align-items-start h-100 m-2">
                                <h6><span class="badge bg-danger pt-1">New</span></h6>
                            </div>
                        </div>
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/1.webp"
                             class="card-img-top rounded-2" style="aspect-ratio: 1 / 1"/>
                    </a>
                    <div class="card-body p-0 pt-3">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$29.95</h5>
                        <p class="card-text mb-0">GoPro action camera 4K</p>
                        <p class="text-muted">
                            Model: X-200
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <div class="mask" style="height: 50px;">
                            <div class="d-flex justify-content-start align-items-start h-100 m-2">
                                <h6><span class="badge pt-1" style="background-color: #f87217;">Offer</span></h6>
                            </div>
                        </div>
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/2.webp"
                             class="card-img-top rounded-2" style="aspect-ratio: 1 / 1"/>
                    </a>
                    <div class="card-body p-0 pt-2">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$590.00</h5>
                        <p class="card-text mb-0">Canon EOS professional</p>
                        <p class="text-muted">
                            Capacity: 128GB
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/3.webp"
                             class="card-img-top rounded-2" style="aspect-ratio: 1 / 1"/>
                    </a>
                    <div class="card-body p-0 pt-2">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$29.95</h5>
                        <p class="card-text mb-0">Modern product name here</p>
                        <p class="text-muted">
                            Sizes: S, M, XL
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/4.webp"
                             class="card-img-top rounded-2" style="aspect-ratio: 1 / 1"/>
                    </a>
                    <div class="card-body p-0 pt-2">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$1099.00</h5>
                        <p class="card-text mb-0">Apple iPhone 13 Pro max</p>
                        <p class="text-muted">
                            Color: Black, Memory: 128GB
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/5.webp"
                             class="card-img-top rounded-2" style="aspect-ratio: 1 / 1"/>
                    </a>
                    <div class="card-body p-0 pt-2">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$29.95</h5>
                        <p class="card-text mb-0">Modern product name here</p>
                        <p class="text-muted">
                            Sizes: S, M, XL
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/6.webp"
                             class="card-img-top rounded-2" style="aspect-ratio: 1 / 1"/>
                    </a>
                    <div class="card-body p-0 pt-2">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$29.95</h5>
                        <p class="card-text mb-0">Modern product name here</p>
                        <p class="text-muted">
                            Model: X-200
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/7.webp"
                             class="card-img-top rounded-2" style="aspect-ratio: 1 / 1"/>
                    </a>
                    <div class="card-body p-0 pt-2">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$29.95</h5>
                        <p class="card-text mb-0">Modern product name here</p>
                        <p class="text-muted">
                            Sizes: S, M, XL
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card my-2 shadow-0">
                    <a href="#" class="">
                        <img src="https://bootstrap-ecommerce.com/bootstrap5-ecommerce/images/items/8.webp"
                             class="card-img-top rounded-2" style="aspect-ratio: 1 / 1"/>
                    </a>
                    <div class="card-body p-0 pt-2">
                        <a href="#!" class="btn btn-light border px-2 pt-2 float-end icon-hover"><i
                                class="fas fa-heart fa-lg px-1 text-secondary"></i></a>
                        <h5 class="card-title">$29.95</h5>
                        <p class="card-text mb-0">Modern product name here</p>
                        <p class="text-muted">
                            Material: Jeans
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="prodSunglasses" class="hidden-section">
    <div class="container my-5">
        <header class="mb-4">
            <h3>Sunglasses</h3>
        </header>
    </div>
</section>

<section id="prodAccessories" class="hidden-section">
    <div class="container my-5">
        <header class="mb-4">
            <h3>Accessories</h3>
        </header>
    </div>
</section>


<!-- Footer -->
<footer class="text-center text-lg-start text-white">
    <hr style="height:2px">
    <div class="container text-center text-md-start mt-5 mb-4">
        <div class="row mt-3 pt-1">
            <div class="col-12 col-lg-3 col-sm-12">
                <!-- Content -->
                <a href="#home" onclick="showSection('home')" class="btn ms-md-2">
                    <img src="/static/img/icon.png" th:src="@{/img/icon.png}" height="64" alt="Optics"/>
                </a>
                <p class="mt-3">
                    AlbertGregl &copy;
                    <script>document.write(new Date().getFullYear());</script>
                </p>
            </div>
        </div>
    </div>
</footer>


</body>
</html>

