<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>Optics Web Shop</title>

    <!-- CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="/static/css/mdb.min.css" rel="stylesheet" th:href="@{/css/mdb.min.css}"/>
    <link href="/static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>

    <!-- JS -->
    <script src="/static/js/jquery-3.7.1.min.js" th:src="@{/js/jquery-3.7.1.min.js}"></script>
    <script src="/static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script src="/static/js/script.js" th:src="@{/js/script.js}"></script>

    <!-- Favicon -->
    <link href="/static/img/icon.png" rel="icon" th:href="@{/img/icon.png}">

</head>
<body>
<!--Main Navigation-->
<header>
    <!-- Jumbotron -->
    <div class="p-3 text-center border-bottom text-white">
        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-2 col-sm-4 col-4">
                    <a href="#home" onclick="showSection('home')" class="btn float-start">
                        <img src="/static/img/icon.png" th:src="@{/img/icon.png}" height="64" alt="Optics"/>
                    </a>
                </div>
                <div class="order-lg-last col-lg-5 col-sm-8 col-8">
                    <div class="d-flex float-end">
                        <div sec:authorize="!isAuthenticated()">
                            <a href="#"
                               class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center btn-primary"
                               data-bs-toggle="modal"
                               data-bs-target="#authModal">
                                <img th:src="@{/img/user-alt-solid.svg}" src="/static/img/user-alt-solid.svg"
                                     class="m-1 me-md-2" alt="" height="32">
                                <p class="d-none d-md-block mb-0">Sign in</p>
                            </a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <form th:action="@{/logout}" method="post" id="logoutForm" style="cursor:pointer;"
                                  title="Log out">
                                <button type="submit"
                                        class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center btn-primary text-primary"
                                        style="background: lightblue;">
                                    <img th:src="@{/img/logout.svg}" src="/static/img/logout.svg"
                                         class="m-1 me-md-2" alt="" height="32">
                                </button>
                            </form>
                        </div>
                        <div sec:authorize="isAnonymous() or hasAuthority('ROLE_CUSTOMER')">
                            <a href="#"
                               class="border rounded me-2 py-1 px-3 nav-link d-flex align-items-center btn-primary">
                                <img th:src="@{/img/shopping-cart-solid.svg}" src="/static/img/shopping-cart-solid.svg"
                                     class="m-1 me-md-2" alt="" height="32">
                                <p class="d-none d-md-block mb-0">My cart</p>
                            </a>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
                            <a href="/admin.html" style="background: #6a1a21; color: #1A6A63; font-weight: bold;"
                               class="border rounded py-1 px-3 nav-link d-flex align-items-center btn-danger">
                                <img th:src="@{/img/admin.svg}" src="/static/img/admin.svg"
                                     class="m-1 me-md-2" alt="" height="32">
                                <p class="d-none d-md-block mb-0">Admin</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="input-group float-center">
                        <div class="form-outline bg-gradient">
                            <input type="search" id="form1" class="form-control"/>
                            <label class="form-label" for="form1">Search</label>
                        </div>
                        <button type="button" class="btn btn-primary shadow-0">
                            <img src="/static/img/search-solid.svg" th:src="@{/img/search-solid.svg}"
                                 class="m-1 me-md-2" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="authModalLabel">Login / Register</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" id="authTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login"
                                    type="button" role="tab" aria-controls="login" aria-selected="true">Login
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="register-tab" data-bs-toggle="tab" data-bs-target="#register"
                                    type="button" role="tab" aria-controls="register" aria-selected="false">Register
                            </button>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
                            <!-- Login Form -->
                            <form action="#" th:action="@{/perform_login}" method="post" class="p-3">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Login</button>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                            <form th:action="@{/register}" method="post" class="p-3">
                                <div class="mb-3">
                                    <label for="registerUsername" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="registerUsername" name="username"
                                           required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="mb-3">
                                    <label for="registerPassword" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="registerPassword" name="password"
                                           required>
                                </div>
                                <div class="mb-3">
                                    <label for="address" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="address" name="address">
                                </div>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container justify-content-center justify-content-md-between">
                <!-- Toggle button -->
                <a
                        class="btn btn-primary navbar-toggler border py-2"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarLeftAlignExample"
                        aria-controls="navbarLeftAlignExample"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <img src="/static/img/bars-solid.svg" th:src="@{/img/bars-solid.svg}" height="32" alt="&#9776;">
                </a>

                <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link text-white" aria-current="page" href="#home"
                               onclick="showSection('home')">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-primary nav-link text-white" href="#categories"
                               onclick="showSection('categories')">Categories</a>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize="hasRole('ROLE_CUSTOMER')">
                                <a class="btn btn-primary nav-link text-primary text-primary" style="font-weight: bold"
                                   href="#profile"
                                   onclick="showSection('profile')">Profile</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

</header>


<!-- ===== category ===== -->
<section id="categories" class="hidden-section">
    <div class="container pt-5">
        <nav class="row gy-4">
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div th:each="category : ${categories}" class="col-3">
                        <a href="javascript:void(0);"
                           th:data-category-id="${category.categoryId}"
                           th:onclick="'showProductsForCategory(\'' + ${category.categoryId} + '\')'"
                           class="btn btn-outline-primary text-center d-flex flex-column justify-content-center mx-auto p-3 mb-2">
                            <img th:src="${category.imagePath}" src="/static/img/glasses.svg" height="64" alt=""
                                 th:alt="${category.name}">
                            <p class="pt-2" th:text="${category.name}" style="font-weight: bolder">Category</p>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>


<!-- HOME SECTION -->
<section id="home" class="pt-3">
    <div class="container">
        <div class="row gx-3">
            <main class="col-lg-9">
                <div class="card-banner p-5 bg-transparent rounded-5" style="height: 200px;">
                    <div style="max-width: 500px;">
                        <h2 class="text-white">
                            Sunglasses for every day
                        </h2>
                        <p class="text-white">
                            The best glasses for your eyes. We have a wide range of sunglasses and optics for every day.
                        </p>
                    </div>
                </div>
            </main>
            <aside class="col-lg-3">
                <div class="card-banner h-100 rounded-5 bg-primary">
                    <div class="card-body text-center pb-5">
                        <h5 class="pt-5 text-white">Best Deals</h5>
                        <p class="text-white mb-0">Special offer for new customers!</p>
                        <a href="#" class="btn btn-outline-light mt-2"> View more </a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>


<!-- Products SECTION -->
<section id="products" class="hidden-section">
    <div class="container my-5">
        <header class="mb-4">
            <h3 id="productsHeader">Products</h3>
        </header>
        <div class="row">
            <div th:each="eyewear : ${eyewears}" class="col-lg-3 col-md-6 col-sm-6 product-card"
                 th:attr="data-category-id=${eyewear.category.categoryId}" style="display: none;">
                <div class="card my-2 shadow-0 p-3">
                    <a href="#" class="">
                        <img th:src="${eyewear.imagePath}" class="card-img-top rounded-2"
                             src="/static/img/testImg.jpg"
                             style="object-fit: cover; object-position: center; width: 256px; height: 256px;"/>
                    </a>
                    <div class="card-body p-0 pt-2 text-end">
                        <a href="javascript:void(0);"
                           th:onclick="'addEyewearToCart(\'' + ${eyewear.eyewearId} + '\')'"
                           class="btn btn-outline-primary btn-success p-2">
                            <img th:src="@{/img/shopping-cart-solid.svg}" src="/static/img/shopping-cart-solid.svg" height="32" alt=""
                                 th:alt="${eyewear.name}">
                        </a>
                        <div class="text-start">
                            <h5 class="card-title" th:text="${eyewear.price}"></h5>
                            <p class="card-text mb-0" th:text="${eyewear.name}"></p>
                            <p class="text-muted" th:text="${eyewear.description}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="text-center text-lg-start text-white">
    <hr style="height:2px">
    <div class="container text-center text-md-start mt-5 mb-4">
        <div class="row mt-3 pt-1">
            <div class="col-12 col-lg-3 col-sm-12">
                <!-- Content -->
                <a href="#home" onclick="showSection('home')" class="btn ms-md-2">
                    <img src="/static/img/icon.png" th:src="@{/img/icon.png}" height="64" alt="Optics"/>
                </a>
                <p class="mt-3">
                    AlbertGregl &copy;
                    <script>document.write(new Date().getFullYear());</script>
                </p>
            </div>
        </div>
    </div>
</footer>


</body>
</html>

